<!DOCTYPE html>
<html data-vivliostyle-paginated="true">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="google" content="notranslate">
<title>Vivliostyle viewer</title>
<script src="resources/mathjax-config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<% if (development) { %>
<script src="../node_modules/vivliostyle/src/vivliostyle.js"></script>
<script src="js/main-dev.js"></script>
<% } else { %>
<script src="js/main.js"></script>
<% } %>
<link rel="stylesheet" href="resources/vivliostyle-viewport.css"/>
<link rel="stylesheet" href="resources/vivliostyle-viewport-screen.css" media="screen"/>
<link rel="stylesheet" href="css/vivliostyle-viewer.css"/>
<link rel="stylesheet" href="css/ui.arrows.css"/>
<link rel="stylesheet" href="css/ui.menu-bar.css"/>
<link rel="stylesheet" href="css/ui.message-dialog.css"/>
<link rel="stylesheet" href="css/ui.loading-overlay.css"/>
<style id="vivliostyle-page-rules"></style>
</head>
<body data-bind="event: {keydown: handleKey}">
<%- include('./vivliostyle-viewer-component.ejs', {versions:versions}) %>
</body>
</html>
